/**
 * Site header
 */


*{
  font-family: "Noto Sans", sans-serif;
  color:  #000000;
}

.site-header {
  border-top: none;
  line-height: $base-line-height * $base-font-size * 3.25;
}

.site-title {
  @include relative-font-size(2.625);
  font-weight: 500;
  line-height: 80%;
  margin-top: 15pt;
  margin-bottom: 15pt;
  color: #1429a0 !important;
  text-decoration: none !important;
}

.site-nav {
  top: 19px;
}

/**
 * Titles
 */
h1 {
  color: #1429a0
}

h2 {
  color: #1429a0
}

h3 {
  color:  #000000
}

h4 {
  color: #000000
}

/**
 * Custom
 */

img{
  max-width: 350px;
  max-height: 350px;
}

.sub-nav{
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.sub-nav > .sub-item {
  display:inline;
  padding-right: 3%;
}


.book{
  text-align: justify;
  text-justify: inter-word;
}

.book > .title{
  margin-top: 2%;
  text-align:  center;
  font-size: $base-font-size * 1.15;
}

.site-header{
  border-color: #000000;
}

.h-card {
  border-color: #000000;
}

.title > a{
}


.title > a:hover{
 //color: $primary-dark !important;
}

.title > .author{
  color: #000000;
  opacity: 0.6;
  font-size: $base-font-size;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.warning {
  color: $red;
  font-weight: bold;
}

.last-edit {
  text-align: right;
}

.copyright {
  margin-top: 5%;
  color: #000000 !important;
  text-align: left;
  font-size: 0.75em;
}



.post-content {
  h1, h2, h3 { margin-top: $spacing-unit}

}

.post-content a, .post-link {
  color: #1429a0;
}

.home a {
  color: #1429a0;
}

$link-base-color: #1429a0 !default;



// .post-link {
//   color: #8dd3c7 !important;
// }

// Fix title on the homepage, which is no longer layout: home
h1#about-me {
  font-size: 2em;
  line-height: 1.5;
  margin-top: auto;
}

.page-link{
  padding-top: 5px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 5px !important;
  color: #000000 !important;
  text-decoration: none;
  border: 1px solid #ffffff;
}

.page-link:hover{
  color: #1429a0 !important;
  text-decoration: none;
  border: 1px solid #1429a0;
  border-radius: 17px;
}

// Blog layout is home, so set size as other pages
.page-heading {
  font-size: 2.625em;
  letter-spacing: -1px;
  line-height: 1.15;
}

// Import JS demos created in Processing JS
iframe {
  border: none;
  display: block;
  margin: auto;
  position: relative;
  margin-bottom: 15px;
  width: 600px;
  height: 400px;
}
// If the page is lesser than 600px, set that width to the iframe
@media (max-width: 600px) {iframe{width: 100%;}}

// For blogging
definition {
  display: block;
  border: 4px solid $border-color-01;
  padding: $spacing-unit / 2;
  font-size: 1.2em;
  margin-bottom: 15px;
}

blockquote {
  font-size: 0.75em;
}